  ion-header {
    font-family:'Lucida Sans Regular';
    font-size: x-small;
    color: rgb(8, 8, 8);
    text-align: center; 
    --ion-background-color: rgb(240, 191, 233);
  }

  ion-content {  
    --ion-background-color: rgb(252, 239, 250);
  } 

  ion-list{
    font-variant-position: super;
  }

  ion-select {
    color: #0b21e0;
    --placeholder-color: #971e49;
    --placeholder-opacity: 1;
    width: 100%;
    justify-content: right;
  }

ion-card-title {
    font-family:'Lucida Sans Regular';
    font-size: medium;
    color: rgb(8, 8, 8);
    text-align: center; 
  }
  
ion-label {
  font-family:'Lucida Sans Regular';
    font-size: medium;
    color: rgb(8, 8, 8);
    text-align: left;
}
  h5 {
    color: rgb(8, 8, 8);
    font-style: oblique;
  }

  h6 {
    font-family:'Lucida Sans Regular';
    font-size: small;
    text-align: center;
    text-align-last: center; 
    color: rgb(15, 15, 15);
  }

  h1 {
    font-family:'Lucida Sans Regular';
    font-size: small;
    text-align: center;
    text-align-last: center; 
    color: rgb(15, 15, 15);
  }
  
  .ion-text-center {
    text-align: center;
}

ion-button {
  color: rgb(240, 191, 233);
}

.ion-text-uppercase {
  text-transform: uppercase;
}

.ion-thumbnail {
  width: auto; 
  height: auto;
  }
  
  img {
    width: auto; 
    height: auto;
  }

  .div_img {
    width: auto; 
    margin-left: auto;
    margin-right: auto; 
  }

  #img_card {
    height: 5vh !important;
    width: 5 !important;
    align-items: center;
  }

  .div-ion-text-center {
    text-align: center;
  }