
<ion-content class="content" [fullscreen]="true">
  <div id="container"> 
    <img src="../../assets/logobelarosa.png" />
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [routerLink]="['/registration']" expand="block" color="light">Registre-se</ion-button>
            <span>Possui uma conta?</span>
          <ion-button [routerLink]="['/circle-login']" expand="block" color="light">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="content-footer">
  <ion-toolbar>
    <h6 class="text">BelaRosa 2021. Irituia PA, possui direitos autorais</h6>
  </ion-toolbar>
</ion-footer>