
ion-content {
 --ion-background-color: rgb(252, 239, 250);   
}

h5 {
    color: rgb(8, 8, 8);
    font-style: oblique;
}

.ion-text-center {
    text-align: center; 
    left: 100px;
    right: 100px;
    position: absolute;
}

ion-button {
    color: rgb(240, 191, 233);
  }