<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title><h5>Retornar</h5></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content"[fullscreen]="true">
<div class="ion-padding-top">
<div class="ion-padding">
<div class="ion-text-center">
  <img src="../../assets/logobelarosa.png" />
  <br>
  <br>
  <br>
  <br>
  <br> 
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="form-group">
      <ion-item lines="full">
        <ion-label class="ion-text-center" position="floating">Email</ion-label>
        <ion-input formControlName="email" inputmode="text" maxlength="50" type="text" required></ion-input>
      </ion-item>
      <p *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Obrigatório. </p>
    </div>

    <ion-row>
      <ion-col>
        <ion-button disabled = "{{button}}" *ngIf="formGroup.controls.email.valid && formGroup.controls.email.valid" type="submit" color="light" expand="block">
          <ion-spinner *ngIf="sniper" color="secondary" duration = 3 > </ion-spinner>
          <p *ngIf="sniper"> aguarde ...</p>
          <p *ngIf="!sniper">Enviar nova senha</p>
        </ion-button>
      </ion-col>
      <small>
      Atenção caro cliente, enviaremos uma senha temporaria para seu email,
      por favor, crier uma nova para manter seus dados ainda mais protegidos.
    </small>
    </ion-row>
  </form>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="light" expand="block" (click)="back()">Voltar</ion-button>
    </ion-col>
  </ion-row>
</div>
</div>
</div>
</ion-content>
