.content {
  --ion-background-color: rgb(243, 156, 231);
} 

.ion-padding-top {
padding-top: 50 px; 
}

.ion-text-center {
text-align: center
}

.ion-padding-top {
  padding-top: 50 px; 
}

.ion-padding	{
padding: 30px; 
}

ion-header {
--ion-background-color: rgb(231, 163, 203);
}

h5 {
font-family: "sans-serif";
font-size: medium;
font-weight: bolder;
font-style: italic;
color: rgb(255, 255, 255);
text-align: left; 
}

p {
  font-family: "sans-serif";
  font-style: italic;
  text-align: center;
  color: rgb(229, 255, 0);
  font-size: small;
}

ion-buttons {
color: rgb(255, 255, 255);
}

ion-input {
font-family: "sans-serif";
font-style: italic;
text-align: center;
color: rgb(255, 255, 255);
font-size: small;
}

ion-button {
color: rgb(240, 191, 233);
}
